<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="preload" href="fonts/regular.otf" as="font" type="font/otf" crossorigin>
    <link rel="icon" href="data:,">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <title>Budget App</title>
</head>
{{> navigation}}

<body>
    {{{body}}}
</body>
</html>